<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.example.helloworld.actionSet">
         <menu
               id="helloworld"
               label="%menu_group"
               path="tool/helloworld">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="com.example.TemplateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/helloworld/"
               id="com.example.actions.HelloWorldAction">
         </action>
         <action
               label="%count_classes" 
               icon="icons/sample.gif"
               class="com.example.actions.CountClassAction"
               tooltip="%count_classes_tooltip"
               menubarPath="tool/helloworld/"
               id="com.example.actions.CountClassdAction">
         </action>
     </actionSet>
   </extension>
   <extension point="com.change_vision.astah.ui.view">
        <view
            id="com.example.internal.HelloWorldView"
            type="extraTab"
            class="com.example.internal.HelloWorldView" />
        <view
            id="com.example.internal.AllClassesExtraTabView"
            type="extraTab"
            class="com.example.internal.AllClassesExtraTabView" />
   </extension>
</plugin>
